:root {
  --white: #FFFF;
  --grey: #D9D9D9;
  --blue: #01476D;
  --blue-green: #054553;

  --header-font-family: 14px Helvetica, sans-serif;
  --header-font-weight: 400;

  --heading-font-family: 30px Arial, Helvetica, sans-serif;
  --heading-font-family: 400;

  --desc-font-family: 14px arial, Helvetica, sans-serif;
  --desc-font-family: 400;

}
