
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #FFFF;
  --grey: #D9D9D9;
  --blue: #01476D;
  --blue-green: #054553;

  --header-font-family: Helvetica, sans-serif;
  --header-font-size: 14px;
  --header-font-weight: 700;

  --heading-font-family: Arial, Helvetica, sans-serif;
  --heading-font-size: 30px;
  --heading-font-weight: 500;

  --desc-font-family: Arial, Helvetica, sans-serif;
  --desc-font-size: 14px;
  --desc-font-weight: 400;

}