


.favorite__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem auto;
    gap: 2rem;
    min-height: 900px;
}


.favorite__movie-card {
    height: 300px;
    width: 180px;
    background-color: var(--blue-green);
    margin: auto;
    color: var(--white);
}